{% extends 'base.html' %}
{% block title %}
Scrumptious recipes
{% endblock title %}

{% block content %}
        <header>
            <nav>
                <a class="mainlink" href="{% url 'recipe_list' %}">Main page</a>
            </nav>
        </header>
        <main>
            <h1>Create a recipe</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
        </main>
    {% endblock content %}
