{% extends 'base.html' %}
{% block title %}
Scrumptious recipes
{% endblock title %}

        {% block content %}
        <header>
            <nav>
                <a class="mainlink" href="{% url 'recipe_list' %}">Main page</a>
                <a class="mainlink" href="{% url 'edit_recipe' recipe_object.id %}">Edit recipe</a>

            </nav>
        </header>
        <main>
            <h1>{{rescipe_object.title}}</h1>
            <img src="{{ recipe_object.picture }}">
      <div>4.3 stars</div>
      <p>{{ recipe_object.description }}</p>
            <h2>Ingredients</h2>
            <table >
                <thread>
                    <tr>
                        <th>Amount</th>
                        <th>Food item</th>
                        </tr>
                </thread>
                <tbody>
                  {% for ingredient in recipe_object.ingredients.all %}
                  <tr>
                    <td>{{ingredient.amount}}</td>
                    <td>{{ingredient.food_item}}</td>
                  </tr>
                  {%endfor%}
                </tbody>

            </table>
            <h2>Steps</h2>
            <ol>
                {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
                {% endfor %}
            </ol>
        </main>
     {%endblock content %}
