{% extends 'base.html' %}
{% block title %}
Scrumptious recipes
{% endblock title %}






  {% block content %}
  <header>
    <nav class="mainlink">
      <a class="mainlink" href="{% url 'recipe_list' %}">Main page</a>
      <a class ="mainlink" href="{% url 'create_recipe' %}">Create a recipe</a>

      {% if user.is_authenticated %}
      Hello, {{user.username}}
      <a class="mainlink" href="{% url 'user_logout' %}">Logout</a>
      {%else%}
      <a class="mainlink" href="{% url 'signup' %}">Sign up</a>
      <a class="mainlink" href="{% url 'user_login' %}">Login</a>
      {%endif%}
    </nav>
  </header>
  <main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="grid">
        {% for recipe in recipe_list %}
    <div>
      <h3>

        <a class="link" href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
      </h3>
      <p class="date">{{ recipe.created_on|date:"n/j/Y" }}</p>
      <img src="{{ recipe.picture }}">
      <div>4.3 stars</div>
    </div>
    {% endfor %}
    </div>
  </main>
  {% endblock content %}
